<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>FoodQ Login</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="css/css/login.css">
</head>

<body>
	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
		
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">FoodQ Merchant Login</h6>
							<div class="speci-login first-look">
								<img src="img/logo.png" width="100%" alt="" class="img-responsive">
							</div>
						</div>
						<div class="bottom-content">
							<form action="#" method="post">
								<input type="email" name="email" class="input-form" placeholder="Your Email"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Your Password" required="required" />
								<button type="submit" class="loginhny-btn btn">Login</button>
							</form>
							<p>Forgot Password? <a href="#">Click Here</a></p>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>© 2020 FoodQ | Design by</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //login-section -->
</body>

</html>